{deps, [
    {lager, "2.0.0", {git, "https://github.com/basho/lager.git", "master"}},
		{apns, "\.*", {git,"git://github.com/inaka/apns4erl.git","master"}},
		{ibrowse, "\.*", {git, "git://github.com/inaka/ibrowse.git", "master"}},
    {bcrypt, "\.*", {git, "git://github.com/inaka/erlang-bcrypt.git", "master"}},
    {jsx, "\.*", {git, "git://github.com/talentdeficit/jsx.git"}},
    {eper, "0.60", {git, "git://github.com/mhald/eper.git","4bda88076827de6874d845a22cfb9e68bf7d8ade"}},
    {cowboy, "0.8.0", {git, "git://github.com/extend/cowboy.git", {tag, "0.8.0"}}},
%    {eleveldb, "\.*", {git, "git@github.com:basho/eleveldb.git", "master"}},
    {covertool, "\.*", {git, "git://github.com/idubrov/covertool.git", "b9e28cd7085b0c6b79e161894d8b4c71ccf5fe52"}}
	   ]}.
{require_otp_vsn, "R1[45]"}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.
{erl_opts, [{parse_transform, lager_transform},
            {src_dirs, ["apps/pusherman/src","src", "tests"]}, {i, "include"},
            warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            strict_validation,
            warn_export_vars,
            warn_exported_vars,
            warn_missing_spec,
            warn_untyped_record, debug_info]}.
{dialyzer_opts, [{warnings, [unmatched_returns, error_handling, race_conditions, behaviours]}]}.
{edoc_opts, [{report_missing_types, true}, {source_path, ["src"]}, {report_missing_types, true}, {todo, true}, {packages, false}, {subpackages, false}]}.
{xref_checks, [undefined_function_calls]}.
{erl_first_files,[]}.
{ct_extra_params," -s crypto -s emysql -s inets -s ssl -s lager -s ibrowse -s apns -boot start_sasl -s folsom -config ./config/erlang/test.config"}.
{sub_dirs, [
            "apps/pusherman",
            "rel"
           ]}.
