[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {lager, [{handlers, [
   {lager_console_backend, debug},
   {lager_file_backend, [
     {"log/error.log", error, 10485760, "$D0", 5},
     {"log/console.log", debug, 10485760, "$D0", 5}
     ]}
   ]}
 ]},
 {apns, [{ssl_seed,   "averygoodseedstring"},
  {apple_host, "gateway.push.apple.com"},
  {apple_port, 2195},
  {cert_file,  "/etc/pusherman.pem"},
  {timeout, 30000},
  {feedback_host, "feedback.push.apple.com"},
  {feedback_port, 2196},
  {feedback_timeout, 1800000}]},
  {erlstatsd,[
  {ip, "localhost"},
  {port, 3344}]}
].

